In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

from subprocess import check_output
#print(check_output(["ls", "../input"]).decode("utf8"))

In [3]:
import os
from dotenv import find_dotenv, load_dotenv

data = pd.read_csv("../data/raw/train_X.csv")
target = pd.read_csv("../data/raw/train_Y.csv")

df_products = pd.merge(data, target, left_index=True, right_index=True, how='outer')

In [11]:
data.shape

(61878, 93)

In [4]:
df_products.head()

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,1,0,0,1,6,1,5,0,0,1,...,0,1,2,0,0,0,0,0,0,Class_1
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

In [4]:
df_y = df_products["target"]

In [5]:
df_y.unique()

array(['Class_1', 'Class_2', 'Class_3', 'Class_4', 'Class_5', 'Class_6',
       'Class_7', 'Class_8', 'Class_9'], dtype=object)

In [6]:
df_X = df_products.drop('target', axis=1)

In [7]:
df_X.head()

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
0,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,1,6,1,5,0,0,1,...,22,0,1,2,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [8]:
df_X.to_csv("../data/processed/train_X.csv", header=True, index=False)
df_y.to_csv("../data/processed/train_y.csv", header=True, index=False)

In [24]:
X = df_X.values
y = df_y.values

In [25]:
X

array([[ 1,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0],
       ...,
       [ 0,  0,  0, ...,  0,  0,  0],
       [ 1,  0,  0, ...,  3, 10,  0],
       [ 0,  0,  0, ...,  0,  2,  0]], dtype=int64)

In [26]:
y = y.reshape(-1)

array(['Class_1', 'Class_1', 'Class_1', ..., 'Class_9', 'Class_9',
       'Class_9'], dtype=object)

In [27]:
print("y shape:", y.shape)

y shape: (61878,)

In [28]:
X.shape

(61878, 93)

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [30]:
print("X train:", X_train.shape)
print("y train:", y_train.shape)
print()
print("X test: ", X_test.shape)
print("y test: ", y_test.shape)

X train: (49502, 93)
y train: (49502,)

X test:  (12376, 93)
y test:  (12376,)

In [31]:
model = LogisticRegression(random_state=42)

In [32]:
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=42, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [36]:
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

In [37]:
accuracy_train = accuracy_score(y_train, y_train_pred)
accuracy_test = accuracy_score(y_test, y_test_pred)

In [38]:
print("Training accuracy: {0:.3f}%".format(accuracy_train * 100))
print("Test accuracy: {0:.3f}%".format(accuracy_test * 100))

Training accuracy: 75.722%
Test accuracy: 75.687%